
body {
  background-color: #2e3440;
  color: #E5E9F0;
  font-family: "Montserrat";
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}
  a {
    color: #ebcb8b;
  } 
  .redText
{
    color: red;
}
.greenText
{
  color: green;
}
H1 { text-align: center;
}
h2 { text-align: center;
}